<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdn.jsdelivr.net;">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self' https://cdn.jsdelivr.net;">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script type="text/javascript" src="/static/js/elepy.js"></script>

    <title>elepy</title>
</head>
<body>

<div class="container">
    <h1>Hello World!</h1>

    <div>
        <label for="name">Who are you?</label>
        <input type="text" id="name" pattern="\w+[\w\s]*" required>
    </div>

    <div>
        <button id="submit">Submit</button>
    </div>

    <div>
        <label id="result"></label>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>